<% provide(:title, "Sobre") %>
<h1>Sobre</h1>
<h2>O que foi feito:</h2>
<p>Site desenvolvido por Gustavo Canedo conforme idealizado pela WebGoal.</p>
<p>Este projeto foi um desafio pessoal muito interessante devido a falta de conhecimento prévio com Ruby.
  Como parte do aprendizado na linguagem e frameworks em geral, o início deste projeto (login de usuários) foi feito
  se baseando no material disponibilizado no livro: <a href="http://www.railstutorial.org/"><em>The Ruby on Rails
  Tutorial Book</em></a>. Todo o restante do site foi criado baseando-se na arquitetura proposta no livro.</p>
<p>Inicialmente foi-se adotado a metodologia de TDD, mas devido a falta de experiência anterior com a linguagem, a adaptação
ao Ruby on Rails teve de ser feita de forma gradual, aprender Ruby já utilizando a metolodia TDD se mostrou uma tarefa
que dificultaria esse aprendizado, então logo no início do projeto decidi por não utilizá-la neste projeto, mas espero
  que em projetos futuros, agora já com um conhecimento prévio em Ruby, ela venha a ser adotada.</p>
<h2>Possíveis Melhorias:</h2>
<p>Para o futuro da aplicação, diversas melhorias aplicáveis em pontos críticos do sistema já foram identificadas.</p>
<p>O design e layout podem ser trabalhados para facilitar a navegação, com links de navegação entre as páginas em maior
quantidade e com maior visibilidade.</p>
<p>O sistema para exibir informações ao usuário baseado em painéis se mostrou simples e eficiente para uma pequena
  quantidade de informações, mas caso o sistema cresça de modo que seja necessário exibir mais informações para o usuário, este
sistema de painéis terá que ser revisto.</p>
<p>Mais opções administrativas para os usuários, entre elas, a possibilidade de se adicionar novos administradores,
excluir usuários, excluir grupos e amigos secretos.</p>
<p>Melhorias na interface do correio interno, com melhor navegação entre as áreas e maior facilidade para responder mensagens</p>
<p>Várias verificações de segurança para evitar acesso indevido por meio de SQL Injections ou Forms Injections são feitas,
  mas sempre há espaço para melhorias.</p>
<p>A interface para permitir requisições para entrada em grupos e amigos secretos foi implementada, mas seus painéis
não foram implementados, como esta função não estava nos requisitos, fica como sugestão de melhoria futura</p>
<h2>Problemas Encontrados:</h2>
<p>Devida a uma limitação do framework de notificações flash padrão do Rails, ao ser necessário exibir mais de uma notificação
por página (como ao convidar todos os usuários de um grupo para um amigo secreto) algumas notificações podem se perder.
Para se poder exibir mais de uma notificação por vez todo o sistema de notificações teria que ser refeito, já que esta
função não é suportada pelo framework padrão do Rails.</p>