<% provide(:title, "Sobre") %>
<h1>Sobre</h1>
<p>Site desenvolvido por Gustavo Canedo conforme idealizado pela WebGoal.</p>
<p>Este projeto foi um desafio pessoal muito interessante devido a falta de conhecimento prévio com Ruby.
  Como parte do aprendizado na linguagem e frameworks em geral, o início deste projeto (login de usuários) foi feito
  se baseando no material disponibilizado no livro: <a href="http://www.railstutorial.org/"><em>The Ruby on Rails
  Tutorial Book</em></a>.</p>
<p></p>