<% provide(:title, "Sobre") %>
<h1>Sobre</h1>
<p>Site desenvolvido por Gustavo Canedo conforme idealizado pela WebGoal.</p>
<p>Como parte do aprendizado em Ruby, a manipulação de sessões e o CSS básico foram feitos com base no material
  disponibilizado no livro:</p>
<p><a href="http://www.railstutorial.org/"><em>The Ruby on Rails
  Tutorial Book</em></a>.</p>