<% provide(:title, "Sobre") %>
<h1>Sobre</h1>
<p>Site desenvolvido por Gustavo Canedo conforme idealizado pela WebGoal.</p>
<p>Todo o desenvolvimento inicial e StyleSheets foram baseadas no livro e tutoriais disponvíeis em:
  <a href="http://www.railstutorial.org/"><em>The Ruby on Rails
  Tutorial Book</em></a>.</p>