<% provide(:title, "Contato") %>
<h1>Contato</h1>
<p>
  Para qualquer contanto com o desenvolvedor desta aplicação utilize este e-mail de contato:
  <a href="mailto:arcanaamicus@gmail.com">arcanaamicus@gmail.com</a>.
</p>