<% provide(:title, "Ajuda") %>
<h1>Ajuda</h1>
<p>
  Para entrar em uma amigo secreto:
<ul>
  <li>Crie uma sessão de amigo secreto e convide seus amigos e/ou todo um grupo de interesse.</li>
  <li>Procure por uma sessão pública de amigo secreto.</li>
  <li>Receba um convite para participar de um amigo secreto.</li>
</ul>
</p>