<% provide(:title, "Ajuda") %>
<h1>Ajuda</h1>
<h2>Criar amigo secreto</h2>
<p>Para se criar um amigo secreto sem nenhum outro usuário, deve-se ir no menu "Amigos Secretos" e depois em
  "Criar Novo Amigo Secreto"</p>
<p>Para se criar um amigo secreto e convidar automaticamente os usuários participantes de um determinado grupo, basta
  ir na página do grupo em questão e clicar em "Novo Amigo Secreto para o Grupo"</p>
<h2>Convidando amigos</h2>
<p>Para convidar algum usuário para seu amigo secreto, você deve visualizar seu perfil, se houver algum amigo secreto
não sorteado, que você seja administrador e ele ainda não é participante e não foi convidado, um botão para convidá-lo
ficará disponível.</p>
<p>Para facilitar a localização de usuários, você pode utilizar o Índice de Usuários ou a busca, ambos disponíveis
dentro do menu "Comunidade" -> "Índice de Usuário"</p>
<p>Você também poderá convidar todo um grupo para um amigo secreto, basta localizar o grupo, se amigos secretos
forem disponíveis, um botão para convidar a todos aparecerá.</p>
<p>Se você recebeu convites, basta acessar seu perfil e uma lista com todos os convites recebidos estará disponível.</p>
<p>Você também pode aceitar o convite se estiver visualizando a página do amigo secreto em questão.</p>
<p>Junto com o convite vocẽ também recebe uma mensagem para lembrá-lo do amigo secreto.</p>
<h2>Sorteio</h2>
<p>Quando um amigo secreto tiver ao menos 4 participantes, o administrador poderá realizar o sorteio no botão Sorteio
  dentro da página do amigo secreto.</p>
<p>Após realizado o sorteio, todos os participantes receberão uma mensagem informando que o amigo secreto foi sorteado
e poderão conferir com quem eles saíram na página do amigo secreto na opção "Ver Meu Amigo Secreto".</p>
<p>Para se realizar o sorteio é necessário ao menos 4 participantes para evitar que se saiba com quem os outros
participantes foram sorteados.</p>
<p>Atenção! O sorteio não poderá ser desfeito e nenhum convite pode ser enviado ou aceito se o amigo secreto já tiver
sido sorteado.</p>
<h2>Revelação</h2>
<p>Após o sorteio, o administrador tem a opção de revelar o amigo secreto para todos os usuários.</p>
<p>Atenção! A revelação não poderá ser desfeita.</p>