<% provide(:title, "Ajuda") %>
<h1>Help</h1>
<p>
  As principais formas para entrar em um amigo secreto:
<ul>
  <li>Crie uma sessão de amigo secreto, convide seus amigos e ou todo um grupo de interesse.</li>
  <li>Procure por sessões públicas de amigos secreto.</li>
  <li>Receba um convite para participar de um amigo secreto.</li>
</ul>
</p>