<div class="center jumbotron">
  <h1>Bem vindo ao Amigo X!</h1>

  <h2>
    A nossa comunidade para troca de presentes entre amigos!
  </h2>

  <%= link_to "Faça parte já!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>