<div class="row" align="center">
  <div class="col-sm-3">
    <% @title = 'Administradores'; @table = @exchange.admins %>
    <%= render 'exchanges/panels/user_list' %>
  </div>
  <div class="col-sm-3">
    <% @title = 'Participantes'; @table = @exchange.participants %>
    <%= render 'exchanges/panels/user_list' %>
  </div>
  <div class="col-sm-3">
    <% @title = 'Convidados'; @table = @exchange.invites %>
    <%= render 'exchanges/panels/user_list' %>
  </div>
  <div class="col-sm-3">
    <% @title = 'Pedidos de Participação'; @table = @exchange.requests %>
    <%= render 'exchanges/panels/user_list' %>
  </div>
</div>