<% if @exchange.exposed? %>
    <% raffles = Raffle.from_exchange(@exchange) %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseRaffle">Ver </a>
        </h4>
      </div>
      <div id="collapseRaffle" class="panel-collapse collapse">
        <div class="panel-body">
          <% raffles.each do |raffle| %>
              <div class="row" align="center">
                <div class="col-sm-4">
                  <%= link_to(gravatar_for(User.find(raffle.user), size: 50), User.find(raffle.user)) %><br>
                  <%= User.find(raffle.user).name %>
                </div>
                <div class="col-sm-4">
                  ->
                </div>
                <div class="col-sm-4">
                  <%= link_to(gravatar_for(User.find(raffle.gift_to), size: 50), User.find(raffle.user)) %><br>
                  <%= User.find(raffle.gift_to).name %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>