<% provide(:title, @exchange.title) %>
<div class="row" align="center">
  <h1><%= @exchange.title %></h1>
  <p><%=simple_format(@exchange.description).html_safe %></p>
  <div class="col-sm-6">
    Administradores:<br>
    <% @exchange.admins.each do |id| %>
        <% @user = User.find(id) %>
        <%= link_to(gravatar_for(@user, size: 25),@user) %>
    <% end %>
    <br>
  </div>
  <div class="col-sm-6">
    Participantes:<br>
    <% @exchange.participants.each do |id| %>
        <% @user = User.find(id) %>
        <%= link_to(gravatar_for(@user, size: 25),@user) %>
    <% end %>
    <br>
  </div>
</div>