<h1>Amigo X</h1>

<p>Olá <%= @user.name %>,</p>

<p>
  Seja vem vindo ao Amigo X! Para começar a participar de amigos secretros com seus amigos ative sua conta no link abaixo:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>