<li>
  <div align="center">
    <h5><%= link_to group.title, group %></h5>
    <p>
      <% group.participants.each do |id| %>
          <% participant = User.find(id) %>
          <%= link_to(gravatar_for(participant, size: 25), participant) %>
      <% end %>
    </p>
  </div>
</li>