<% invites_received = Exchange.exchanges_as_guest(@user) %>
<% unless !current_user?(@user) || invites_received.empty? %>
    <div class="panel-group ">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">Convites Recebidos</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <%= form_for(:invite, url: '#') do |f| %>
              <div class="panel-body">
                <% invites_received.each do |exchanges_current| %>
                    <div class="row">
                      <div class="col-sm-1">
                        <%= link_to "Aceitar", invite_accept_exchange_path(exchanges_current, user: @user), data: { confirm: "Deseja mesmo participar deste amigo secreto?" }, method: 'post' %>
                      </div>
                      <div class="col-sm-10">
                        <span><%= exchanges_current.title %></span>
                      </div>
                    </div>
                <% end %>
              </div>
              <div class="panel-footer">
              </div>
              </div>
          <% end %>
          </div>
    </div>
<% end %>