<% provide(:title, @user.name) %>
<div class="row">
  <%= render @user %>
</div>
<div class="row">
  <%= render 'panel_invite_received' %>
</div>
<div class="row">
  <%= render 'panel_invite_sends' %>
</div>
